@import "./Vars.scss";
@import "./Media.scss";

body {
	margin: 0;
	font-family: $theme-font;
	background: $main-color;
}
.results__notfound {
	color: white;
	font-size: 16px;
	margin-top: -16px;
	text-align: center;
	padding-left: 30px;
	width: 100%;
}

* {
	box-sizing: border-box;
}
